.one_card {
    width: 23.125em;
    height: 39.4375em;
    background-color: var(--white);
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    margin-right: 2.5em;
}

.one_card:last-child {
    margin-right: 0;
}

.img_date {
    position: relative;
}

.date {
    font-size: 1em;
    letter-spacing: 0.05em;
    font-weight: 800;
    position: absolute;
    width: 11.125em;
    height: 2.875em;
    background-color: var(--white);
    bottom: -0.9375em;
    left: -0.0625em;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    font-weight: 700;
    font-size: 1.375em;
    letter-spacing: 0.04125em;
    margin-bottom: 0.9375em;
    margin-top: 1.875em;
}

.p_card {
    font-size: 0.875em;
    line-height: 1.5em;
    letter-spacing: 0.0875em;
    font-weight: 400;
}

.card_content {
    margin-left: 2.5em;
    margin-right: 2.5em;
}