.btn_white,
.btn_black {
    color: white;
    text-decoration: none;
    border: 0.25em solid;
    padding: 1.625em 2.6875em;
    font-size: 1.125em;
    letter-spacing: 0.1em;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn_black {
    color: black;
    border-color: black;
}

.btn_white {
    border-color: white;
}

@media (max-width: 791px) {
    .btn_white {
        max-width: 224px;
        padding: 24px 32px;
        font-size: 14px;
        letter-spacing: 0.1em;
        display: inline-block;
    }
}