.space_rocket_involved {
    height: 49.625em;
    margin: 7.75em auto;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    max-width: 74.5em;
}

.overlay_text {
    position: absolute;
    font-size: 27.5em;
    font-family: 'Anton', sans-serif;
    letter-spacing: -0.01em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    width: 100%;
    margin-right: 0;
    text-align: center;
    margin-left: -0.04em;
}

.info_box {
    background-color: rgba(0, 40, 80, 0.5);
    padding: 1.875em;
    z-index: 2;
    width: 30em;
    height: 39.875em;
    margin-left: auto;
    margin-right: 7.5em;
    margin-bottom: 2.25em;
}

.p_infobox_1 {
    margin-bottom: 2.25em;
}

.p_infobox_2 {
    margin-bottom: 2.25em;
}

h4 {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 4em;
    letter-spacing: -0.01em;
    padding: 0;
    margin-bottom: 20px;
}

/* tablet */
@media (max-width: 857px) {
    .overlay_text {
        width: 100%;
        font-size: 290px;
    }
    .space_rocket_involved {
        margin-top: 0;
        margin-bottom: 0;
    }
    .info_box {
        margin-right: 0;
    }
}

/* mobile phone */
@media (max-width: 791px) {
    .overlay_text {
        display: none;
    }
    .space_rocket_involved {
        margin-top: 0;
        height: auto;
    }
    .info_box {
        width: 100%;
        margin-top: 600px;
        margin-bottom: 0;
        box-sizing: border-box;
    }
    h4 {
        margin-top: 30px;
        font-size: 62px;
        letter-spacing: -0.01em;
    }
}
