.space_rocket_involved {
    height: 794px;
    max-width: 1196px;
    margin: 124px auto;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.overlay_text {
    position: absolute;
    font-size: 440px;
    font-family: 'Anton', sans-serif;
    letter-spacing: -0.01em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.25);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.info_box {
    position: absolute;
    background-color: rgba(0, 40, 80, 0.5);
    padding: 30px;
    z-index: 2;
    width: 480px;
    height: 638px;
    right: 120px;
}

.p_infobox_1 {
    margin-bottom: 20px;
}

.p_infobox_2 {
    margin-bottom: 36px;
}
