.faq_section {
    width: 100%;
    max-width: 1444px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}

.page_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.moon_phases_image {
    width: 100%;
    max-width: 1440px;
    height: auto;
    display: block;
}

@media (max-width: 791px) {
    .faq_div {
        margin: 0;
        padding-left: 15px;
        padding-right: 35px;
    }
    .h4_faq {
        margin-left: 0;
        padding-left: 15px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}
