.cards_white_section {
    width: 74.5em;
    background-color: var(--grey);
    color: var(--black);
    padding: 6.25em 7.875em;
    display: flex;
    flex-direction: column;
    background-position: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.cards_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

}

.btn_black_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.75em;
}

.cards_wrapper {
    width: 100%;
    background-color: var(--grey);
}

.card_title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size:  22px;
    letter-spacing: 0.03em;
}

@media (max-width: 857px) {
    * {
        box-sizing: border-box;
    }

    .cards_white_section {
        width: 100%;
        padding: 2em 1em;
    }

    .cards_flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        justify-content: space-around;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .one_card {
        width: calc(50% - 0.5em);
        margin-bottom: 1em;
    }

   .btn_black_div {
       display: none;
   }
}