.cards_white_section {
    width: 74.5em;
    background-color: var(--grey);
    color: var(--black);
    padding: 6.25em 7.875em;
    display: flex;
    flex-direction: column;
    background-position: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.cards_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

.btn_black_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.75em;
}

.cards_wrapper {
    width: 100%;
    background-color: var(--grey);
}

.card_title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size:  22px;
    letter-spacing: 0.03em;
}


@media (max-width: 857px) {
        .cards_white_section {
        width: 100%;
        margin: 20px;
        padding: 0;
    }

    .cards_flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        gap: 1em;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    .one_card,
    .btn_card{
        margin: 0 0.5em 2em
    }

   .btn_black_div {
       display: none;
   }
}

@media (max-width: 751px) {
    .cards_flex {
        margin-top: 45px;
    }
}



