.cards_white_section {
    width: 74.5em;
    background-color: var(--grey);
    color: var(--black);
    padding: 6.25em 7.875em;
    display: flex;
    flex-direction: column;
    background-position: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.cards_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_black_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.75em;
}

.cards_wrapper {
    width: 100%;
    background-color: var(--grey);
}

.card_title {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    font-size:  22px;
    letter-spacing: 0.03em;
}