.menu li {
    display: inline;
    font-weight: bold;
    font-size: 1.125em;
    margin-right: 2.90625em;
    font-family: "Open Sans Condensed", sans-serif;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    color: var(--white);
    text-decoration: none;
}

.logo_image {
    margin-left: 28px;
}

.menu {
    margin-right: 28px;
}