.faq_div {
    margin-right: 7.8125em;
    margin-left: 7.8125em;
    margin-bottom: 8.75em;
}

.h4_faq {
    padding: 0;
    margin-left: 124px;
    margin-top: 0;
    margin-bottom: -40px;
}

h6 {
    font-weight: 400;
    color: white;
    font-size: 2.125em;
    letter-spacing: 0.2125em;
    margin-bottom: 1.875em;
    margin-top: 4.375em;
}

.p_faq {
    font-size: 0.875em;
    line-height: 1.5625em;
    letter-spacing: 0.0875em;
    font-weight: 400;
}