.menu_footer li {
    display: inline;
    font-size: 1.125em;
    letter-spacing: 0.1125em;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
    margin-right: 3.125em;
    margin-bottom: 10px;
}

.menu_footer li:last-child {
    margin-right: 0;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: lighter;
}

.menu_footer li a {
    color: var(--black);
    text-decoration: none;
}

.menu_list_footer {
    display: flex;
    flex-wrap: wrap;
}