@import url('https://fonts.googleapis.com/css2?family=Anton&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --black: #000000;
    --grey: #F1F1F1;
    --white: #FFFFFF;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 1275px;
    margin-left: auto;
    margin-right: auto;
}