.space_rocket_img {
    width: 100%;
    height: 68.5em;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 0;
    margin: 0 auto;
}

.banner_content {
    max-width: 75.9375em;
    width: 100%;
   margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding-left: 1.75em;
}

/* mobile phone */
@media (max-width: 791px) {
    .space_rocket_img {
        height: 652px;
    }
    h2 {
        font-size: 44px;
        line-height: 50px;
        letter-spacing: 4.4px;
        margin-top: 40px;
    }
    .banner_content {
        padding: 0 14px;
    }
    h1 {
        line-height: 72px;
        font-size: 62px;
        letter-spacing: -0.62px;
        margin-bottom: 18px;
    }
    h3 {
        font-size: 14px;
        margin-bottom: 30px;
        letter-spacing: 0.1em;
    }
}

